@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root{
    --white-color: #eef0f2;
    --grey-color: #36393b;
    --yellow-color: #FCF300;
    --golden-color: #FFC600;
    --dark-color: #0E0F19;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white-color);
    font-family: "Titillium Web", sans-serif;
}

html{
    scroll-behavior: smooth;
}

h2, h3, h4, h5, strong{
    color: var(--yellow-color);
}

/* HEADER */
header{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    padding: 0.2rem;
    text-align: center;
    background-color: var(--dark-color);
}

header .logo h1{
    margin-bottom: 0;
}
header h1{
    font-size: 2em;
}

header h2{
    font-size: 1em;
    font-weight: 300;
}

header nav ul li{
    padding: 0.5rem;
}
header nav ul li a{
    text-decoration: underline;
    font-weight: bold;
    transition: 500ms;
}

/* MAIN */

main{
    box-shadow: inset 0 50px 10em 1em var(--dark-color);
    text-align: center;
    background-image: url("../assets/img/fans.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

    padding: 1em;
}

main h4{
    font-weight: 600;
}

main > h4{
    font-size: 2em;
    font-weight: 200;
}

main .info{
    margin: 5em 2em;
}

main form.join{
    background-color: var(--grey-color);
    padding: 2em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5em;
}

main form.join h4{
    font-size: 2em;
}
main form.join input[type="email"]{
    background-color: var(--grey-color);
    padding: 1em;
    border-radius: 1em;
    border: 2px solid var(--yellow-color)
}

.button-link{
    background-color: var(--golden-color);
    padding: 1.25em;
    border: 0;
    border-radius: 1em;
    cursor: pointer;
    color: var(--dark-color);
    font-weight: bold;
    text-decoration: underline;
    transition: 250ms;
}

/* SESSIONS */
section, footer{
    background-color: var(--dark-color);
    text-align: center;
}
section{
    padding-bottom: 5em;
}

section h1{
    font-size: 1.5em;
}

section#testemunhos{
    background-image: url("../assets/img/lesly-juarez-isWEKdSRCrA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset 100px 120px 10em 1em var(--dark-color);
}

.card-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

.card{
    background-color: var(--grey-color);
    padding: 1em;
    text-align: center;
    border-radius: 0.5em;
    margin: .5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 250ms;
}

.card span.card-title{
    font-weight: bold;
}

.card .card-img{
    background-color: var(--grey-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 10em;
    height: 12em;
}
.card .card-icon{
    font-size: 5em;
}

.card-img#imageTite{
    background-image: url("../assets/img/20180610_FIFA_Friendly_Match_Austria_vs._Brazil_Tite_850_0231.jpg");
}

.card-img#imageGuardiola{
    background-image: url("../assets/img/Pep_2017_\(cropped\).jpg");
}
.card-img#imageMessi{
    background-image: url("../assets/img/Lionel-Messi-Argentina-2022-FIFA-World-Cup_\(cropped\)\ .jpg");
}


footer div.footer-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em;
}

footer h1{
    font-size: 1em;
    padding: 2.5em 0;
}

/* ANIMAÇÕES */

header nav ul li a:hover{
    font-size: 1.05em;
    color: var(--golden-color);
}

.button-link:hover{
    color: var(--white-color);
    background-color: var(--yellow-color);
    transform: scale(105%, 105%);
}

.button-link:active{
    color: var(--yellow-color);
    background-color: var(--white-color);
}

.card:hover{
    transform: scale(102%, 102%);
}
/* MEDIA QUERIES */
/* TABLETES */
@media only screen and (min-width: 768px){
    header nav{
        display: flex;
        justify-content: center;
    }
    header nav ul{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
    }

    main{
        background-attachment: fixed;
    }

    section#testemunhos{   
       background-attachment: fixed;
    }

    main > h4{
        font-size: 3em;
    }
    main .main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }



    form.join{
        max-width: 50%;
        width: 100%;
    }

    .card-container{
        grid-template-columns: 1fr 1fr;
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 100;
    }
    footer div.footer-container{
        max-width: 60%;
        align-items: stretch;
    }
}

@media only screen and (min-width: 1024px){
    header{
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    .card-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}